.content {
  width: 550px;
  text-align: center;
  margin: auto;
  margin-top: 150px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(91, 91, 91, 0.25) 0px 54px 55px, rgba(91, 91, 91, 0.12) 0px -12px 30px, rgba(84, 84, 84, 0.12) 0px 4px 6px, rgba(145, 145, 145, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.content *{
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: left;
}

.content p{
  font-size: 35px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  margin-bottom: 40px;
}

.content input{
  padding: 10px;
  border-radius: 5px;
  border:1px solid #cecece;
}

.content button{
  width: 100%;
  margin-top: 25px;
  padding: 15px 0px;
  background: dodgerblue;
  border: 0px;
  font-weight: bold;
  border-radius: 7px;
  color:#fff;
  text-align: center;
}
